<style>
/*.control-section{
    margin-top: 100px;
}*/

</style>
<div class="control-section" style="height: 90vh;margin-top:0px;">
    <ejs-grid #grid [locale]='"es-ES"' [dataSource]='data' [allowSorting]='true' [allowFiltering]='true' [filterSettings]='filterSettings'
    allowPaging='true' [pageSettings]='pageSettings' [editSettings]='editSettings' [toolbar]='toolbar'
    allowPdfExport='true' allowExcelExport="true" [allowExcelExport]="true" [allowPdfExport]="true" [contextMenuItems]="contextMenuItems"  (toolbarClick)="toolbarClick($event)"
    (contextMenuClick)="onContextMenuClick($event)" (actionComplete)="eventoOcurrido($event,'')" (rowSelected)="select($event)" (rowDeselected)="select($event)"
    >
        <e-columns>
          @if(this.viewchecks()){
                <e-column type='checkbox' width='50'></e-column>
              }
            <e-column headerText='Image' width='100' textAlign='Center'>
                <ng-template #template let-data>
                    <div class="image">
                        <img src="https://media.istockphoto.com/id/1356225921/es/vector/etiqueta-de-etiqueta-de-producto-nuevo-nuevo-letrero-de-etiqueta-de-moda-de-dise%C3%B1o-vectorial.jpg?s=612x612&w=0&k=20&c=LUsnGRTE2_vhIlngYnjosbS4qC_PdPSNeXqndi8s_QE=" alt="{{data.id}}"/>
                    </div>
                </ng-template>
            </e-column>
            <e-column field='id' headerText='ID' width='0'></e-column>
            <e-column field='nombre' headerText='Nombre' width='180'></e-column>
            <!-- <e-column field='precio_venta' headerText='Email ID' width='150'>
                <ng-template #template let-data>
                    <div>
                    <a href="mailto:{{data.MailID}}">{{data.MailID}}</a></div>
                </ng-template>
            </e-column> -->
            <!-- <e-column field='DateOfJoining' headerText='Date Joined' width='170' textAlign='Right' format='yMd' type='date'></e-column> -->
            <e-column field='precio_compra' headerText='$ Compra' width='90'></e-column>
            <e-column field='precio_venta' headerText='$ Venta' width='90'></e-column>
            <!-- <e-column field='id_categoria' headerText='IdCat' width='0'></e-column> -->
            <e-column field='categoria' headerText='Categoria' width='120'></e-column>

            <e-column field='codigo_barras' headerText='Codigo Barras' width='90'></e-column>
            <e-column field='codigo_interno' headerText='Codigo Interno' width='90'></e-column>
            <!-- <e-column field='id_empresa' headerText='Experience' width='0'></e-column> -->
            <e-column field='sevende_por' headerText='Unidad' width='120'></e-column>
            <e-column field='maneja_inventarios' headerText='Inventarios' width='80'></e-column>
            <e-column field='maneja_multiprecios' headerText='Multiprecios' width='80'></e-column>
            <!-- <e-column field='AssetKit' headerText='Asset Kit' width='180' [filter]= 'filter'>
                <ng-template #template let-data>
                    <div class="asset">
                        <ejs-chiplist id="asset" [chips]="data.AssetKit.split(',')"></ejs-chiplist>
                    </div>
                </ng-template>
            </e-column> -->
            <!-- <e-column field='AssetKitDistribution' headerText='Assigned Date' width='170' format='yMd' textAlign='Right' type='date'></e-column> -->
            <!-- <e-column field='Location' headerText='Location' width='150'>
                <ng-template #template let-data>
                    <div>
                        <span class="e-location e-icons"></span>{{data.Location}}
                    </div>
                </ng-template>
            </e-column> -->
            <!-- <e-column field='PhoneNumber' headerText='Contact No' width='150' textAlign='Right'></e-column> -->

            <!-- <e-column field='EmployeeAvailability' headerText='Availability' width='200'>
                <ng-template #template let-data>
                    <div *ngIf="data.EmployeeAvailability === 'Available';else login" class="statustemp e-availablecolor">
                            <span class="statustxt e-availablecolor">{{data.EmployeeAvailability}}</span>
                    </div>
                    <ng-template #login>
                        <div class="statustemp e-notavailablecolor">
                            <span class="statustxt e-notavailablecolor">{{data.EmployeeAvailability}}</span>
                        </div>
                        </ng-template>
                </ng-template>
            </e-column> -->

        </e-columns>

    </ejs-grid>

</div>
