<style>


</style>
  
  <div class="col-lg-12 e-img-editor-sample">
    <div class="e-profile e-hide" style="height: 390px;width: 390px; top:-110px;">
      <div class="e-custom-wrapper">
        <canvas id="img-canvas" style="max-width: 390px; max-height: 390px;"></canvas>
        <img alt="img" id="demo-img" crossorigin="anonymous" src="https://png.pngtree.com/png-vector/20250122/ourlarge/pngtree-supermarket-logo-shopping-vector-png-image_15303067.png"
        style="display: none;" (load)="imageLoaded()"/>
        <input type="file" id="img-upload" (change)="imageChanged($event)" style="display:none" accept="image/*"/>
        <span id="custom-edit" class="e-custom-edit" (click)="canvasClicked()" >
            <span class="e-custom-icon sb-icons"></span>
        </span>
      </div>    
    </div>
    <div class="e-img-editor-sample" id="profile-dialog">
        <ejs-dialog [position]="position" #Dialog [buttons]='dlgButtons' [visible]='visible' [header]='header' [showCloseIcon]='showCloseIcon' [target]='target' [width]='width' [height]='height' (open)="dialogOpen()" (close)="dialogClose()">
        <ng-template #content>
            <ejs-imageeditor #ImageEditor [toolbar]='toolbarItems' (created)="created()" (fileOpened)="fileOpened()"> </ejs-imageeditor>
        </ng-template>
    </ejs-dialog>
    </div>
  </div>
  
  
