
<div class="control-section" style="margin-top: 0px; height:20vh;">
    <div class="col-lg-9">
        <ejs-grid #grid title="DetalleVenta" [locale]='"es-ES"' [dataSource]='data' allowPaging='true' [allowSorting]='true' [allowFiltering]='true' [filterSettings]='filterSettings' [pageSettings]='pageSettings' [editSettings]='editSettings' [toolbar]='toolbar' (actionBegin)='actionBegin($event)'
        allowPdfExport='true' allowExcelExport="true" [allowExcelExport]="true" [allowPdfExport]="true" [contextMenuItems]="contextMenuItems" [allowSelection]=(this.viewchecks()) [selectionSettings]="selectOptions"  (keyPressed)="edit($event)"
        (toolbarClick)="toolbarClick($event)" (actionComplete)="eventoOcurrido($event,'')" (rowSelected)="select($event)" (rowDeselected)="select($event)"
        >
            <e-columns>
              @if(this.viewchecks()){
                <e-column type='checkbox' width='20'></e-column>
              }
              <e-column field='id' headerText='Id' width='0' textAlign='Right' visible="false"></e-column>
              <e-column field='id_producto' isPrimaryKey='true' headerText='IdProd' width='35' textAlign='Left' [validationRules]="orderidrules" [edit]="precioEditParams1"></e-column>
                <e-column field='codigo_barras' isPrimaryKey='true' headerText='CodigoBarras' width='100' editType='stringedit'></e-column>
                <e-column field='descripcion' headerText='Descripcion' width='260' format='C2' textAlign='Left' editType='stringedit' [edit]="precioEditParams2" ></e-column>
                <e-column field='cantidad' headerText='Cantidad' width='70'  textAlign='Right' [validationRules]="orderidrules"></e-column>
                <e-column field='precio_venta' headerText='Precio Venta' width='70' textAlign='Right' [edit]="precioEditParams1"></e-column>
                <e-column field='total' headerText='Total' width='80' textAlign='Right' [edit]="precioEditParams1"></e-column>
            </e-columns>
        </ejs-grid>
    </div>




</div>
<style>
        #typeddl {
            min-width: 100px;
        }
</style>


